.titulos {
  font-family: 'Bitter', serif;
}

.subtitulos {
  font-family: 'Open Sans', sans-serif;
}

.parrafos {
  font-family: 'Bitter', serif;
}

.pt1 {
  padding-top: 1em;
}

.background-amarillo {
  background-color: #FFE521;
}

.logo {
  padding-top: 2em;
}

.usuaria {
  margin-bottom: 2em;
}

#action {
  background-color: #FFE521;
  color: #333333;
}

.mg-top3 {
  margin-top: 3em;
}

.mg-top2 {
  margin-top: 2em;
}

#studentsList {
  background-color: #FFE521;
  color: #333333;
}

.agrandar-fuente {
  font-size: 6em;
}

.font-rem {
  font-size: 1.5rem;
}

#e-active {
  background-color: #FFFFF0;
}

.back-yellow {
  background-color: #FFFFF0;
  color: #333333;
}

#reiniciar {
  background-color: #FFE521;
  color: #333333;
}

.center {
  text-align: center;
}

.view-block{
  display: block;
}

.yellow-submarine{
  background-color: #FFE521 !important; 
  color: #333333 !important;

}