.foundFont{
    font-family: museo-sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  
  .pt1{
    padding-top: 0.5em;  
  }
  
  .background-amarillo{
    background-color: #FFE521;
  }
  
  .logo{
    padding-top: 2em;
  }
    
  .usuaria{
    margin-bottom: 2em;
  }
  
  #action{
    background-color:#FFE521;
    color: #333333;
  }
  
  #alumnas{
    background-color:#FFE521;
    color: #333333;
  }

  .agrandar-fuente{
    font-size: 8em;
  }

  #e-activas{
    background-color:#FFFFF0;
  }